.Breadcrumb {
  margin-top: 15px;
  font-size: 16px;
  width: var(--views-width);
}

.Breadcrumb a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.Breadcrumb a:not(:first-child):before {
  content: '›';
  font-size: 20px;
  margin: 0 5px;
}